#login { text-align: center; }
#loginform { text-align: right; }

#transactions { position: absolute; top: 5px; left: 240px; }
#transactions #nav { float: right; }
#transactions .ui-button .ui-button-text { padding: 0px 11px 0px 11px !important; font-size: .72em !important; }
.transaction { cursor: pointer; }

#accounts { max-width: 220px; }
.account { margin-bottom: 10px; cursor: pointer; position: relative; }
.account .accountbalance { position: absolute; top: 0px; right: 0px; background: white; }

#transactiondetail { position: relative; }
#transactiondetail > #file { max-width: 560px; }
#transactiondetail > #date { float: left; margin-right: 10px;}
#transactiondetail > #amount { float: right; }
#transactiondetail #savebuttons { text-align: right; }
#transactiondetail #addtag { font-size: 62.5%; }
#transactiondetail .category { overflow: hidden; white-space: nowrap; }
.ui-state-hover { font-weight: normal; }
.description { max-width: 280px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }

#searchoptions { position: absolute; top: 5px; right: 5px; text-align: right; }
#searchoptions .ui-button .ui-button-text { padding: 5px 11px 5px 11px !important; font-size: .82em !important; }

.dollar { text-align: right; padding-left: 5px; }
.posnum { color: green; }

#bottomlinks { position: absolute; bottom: 5px; right: 5px; }

[contenteditable]:hover { outline: 1px dotted #ccc; }

#tagselect { z-index: 2000; background: white; border-style: solid; border-width: 1px;}
#tagslist .ui-selecting { background: #FECA40; }
#tagslist .ui-selected { background: #F39814; color: white; }
#tagslist { list-style-type: none; margin: 0; padding: 0; width: 250px; font-size: 62.5%; cursor: pointer; }
#tagslist li { margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px; }

#linktransactions { position: absolute; right: 5px; top: 300px; }
#linktransactions div { border-style: solid; border-width: 2px; width: 100%; min-height: 30px; margin-bottom: 20px;}
#linktransactions button { font-size: 62.5%; }
