#transactions { position: absolute; top: 5px; left: 300px; }
#transactions #nav { float: right; }
#transactions .ui-button .ui-button-text { padding: 0px 11px 0px 21px !important; font-size: .72em !important; }
.transaction { cursor: pointer; }

#accounts { max-width: 280px; }
.account { margin-bottom: 10px; cursor: pointer; }

#transactiondetail { position: relative; }
#transactiondetail > #file { max-width: 400px; }
#transactiondetail > #date { float: left; margin-right: 10px;}
#transactiondetail > #amount { float: right; }
#transactiondetail > #save { position: absolute; right: 9px; bottom: 3px; }
.description { max-width: 350px; overflow: hidden; white-space: nowrap; text-overflow:ellipsis; }

#searchoptions { position: absolute; top: 5px; right: 5px; }

.dollar { text-align: right; padding-left: 5px; }
.posnum { color: green; }

#bottomlinks { position: absolute; bottom: 5px; right: 5px; }

[contenteditable]:hover { outline: 1px dotted #ccc; }
